@page "/counter"
@using BlazorSignalRBackplaneTest.Components.Config
@using BlazorSignalRBackplaneTest.Pages.Counter.State;
@using BlazorSignalRBackplaneTest.State;
@inherits FluxorComponent

<PageTitle>Counter</PageTitle>

<h1>Global Counter</h1>

<p role="status">Current global count: @GlobalState.Value.Count</p>

<button class="btn btn-primary" @onclick="() => IncrementGlobalCount(1)">Click me (1)</button>
<button class="btn btn-primary" @onclick="() => IncrementGlobalCount(2)">Click me (2)</button>

<h1>Local Counter</h1>

<p role="status">Current local count: @State.Value.Count</p>

<button class="btn btn-primary" @onclick="() => IncrementCount(1)">Click me (1)</button>
<button class="btn btn-primary" @onclick="() => IncrementCount(2)">Click me (2)</button>

<KeycloakConfig/>
